.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
}

.input {
    width: 35px;
    border: none;
    border-radius: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 24px;
    padding: 5px;
    cursor: not-allowed;
    pointer-events: none;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}