@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.quiz-main-grid {
    padding-block: 1rem;
    width: 100%;
    height: calc(100svh - 118px);
    display: grid;
    overflow-x: hidden;
    grid-template-rows: 60px calc(100% - 60px) ;
}

@media (max-width: 768px) {
    .quiz-main-grid {
        grid-template-rows: 100px calc(100% - 100px);
    }
}