@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.clock {
    position: absolute;
    margin-right: 3rem;
    top: 5rem;
    right: 0;
    width: 200px;
    height: 39px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background: #1A1A1A;
    border: 3px solid #f5a51a;
}

.time {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    color: #f19e0f;
}

.time-msg {
    position: absolute;
    background: crimson;
    top: 5rem;
    left: 50%;
    translate: -50%;
    font-size: 23px;
    height: 39px;
    width: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    border: 3px solid #FFF;
    font-family: 'Orbitron', sans-serif;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}