.circle-background {
    fill: none;
    stroke: #ccc;
}

.circle-progress {
    fill: none;
}

.btn-x {
    position: absolute;
    bottom: 0;
    right: 0;
    translate: 110%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 768px) {
    .btn-x {
        position: relative;
        translate: 100%;
        padding: 10px;
    }
}